{%- liquid
  assign section_id = 'testimonials-' | append: section.id
  assign heading = section.settings.heading
  assign subheading = section.settings.subheading
  assign testimonials_to_show = section.blocks.size
  assign text_size = section.settings.text_size | default: 'medium'
  assign char_limit = section.settings.character_limit | default: 120
  assign author_bold = section.settings.author_bold
  assign author_underline = section.settings.author_underline
  assign text_align_desktop = section.settings.text_align_desktop
  assign text_align_mobile = section.settings.text_align_mobile
  assign author_align_mobile = section.settings.author_align_mobile
  assign quote_color = section.settings.quote_color
  assign author_color = section.settings.author_color
  assign underline_color = section.settings.underline_color | default: section.settings.author_color
  assign background_color = section.settings.background_color
  assign font_family = section.settings.font_family
  assign section_height = section.settings.section_height | default: 150
  
  assign quote_font_size_desktop = section.settings.quote_font_size_desktop
  assign author_font_size_desktop = section.settings.author_font_size_desktop
  assign quote_font_size_mobile = section.settings.quote_font_size_mobile
  assign author_font_size_mobile = section.settings.author_font_size_mobile
  
  assign author_margin_top = section.settings.author_margin_top
  assign author_margin_bottom = section.settings.author_margin_bottom
  
  assign dot_size = section.settings.dot_size
  assign active_dot_size = section.settings.active_dot_size
  assign dot_margin = section.settings.dot_margin
-%}

{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

<div class="testimonials-section text-size-{{ text_size }} text-align-{{ text_align_desktop }} mobile-text-align-{{ text_align_mobile }} mobile-author-align-{{ author_align_mobile }} {% if author_bold %}author-bold{% endif %} {% if author_underline %}author-underline{% endif %}" id="Testimonials-{{ section.id }}" 
  style="
    {% if quote_color %}--quote-color: {{ quote_color }};{% endif %}
    {% if author_color %}--author-color: {{ author_color }};{% endif %}
    {% if underline_color %}--underline-color: {{ underline_color }};{% endif %}
    {% if background_color %}--background-color: {{ background_color }};{% endif %}
    {% if font_family %}--font-family: {{ font_family }};{% endif %}
    {% if section_height %}--section-height: {{ section_height }}px;{% endif %}
    
    {% if quote_font_size_desktop %}--quote-font-size-desktop: {{ quote_font_size_desktop }}px;{% endif %}
    {% if author_font_size_desktop %}--author-font-size-desktop: {{ author_font_size_desktop }}px;{% endif %}
    {% if quote_font_size_mobile %}--quote-font-size-mobile: {{ quote_font_size_mobile }}px;{% endif %}
    {% if author_font_size_mobile %}--author-font-size-mobile: {{ author_font_size_mobile }}px;{% endif %}
    
    {% if author_margin_top %}--author-margin-top: {{ author_margin_top }}px;{% endif %}
    {% if author_margin_bottom %}--author-margin-bottom: {{ author_margin_bottom }}px;{% endif %}
    
    {% if dot_size %}--dot-size: {{ dot_size }}px;{% endif %}
    {% if active_dot_size %}--active-dot-size: {{ active_dot_size }}px;{% endif %}
    {% if dot_margin %}--dot-margin: {{ dot_margin }}px;{% endif %}
  "
>
  <div class="testimonials-container">
    <div class="testimonials-slider" 
      x-data="{ 
        activeSlide: 0, 
        totalSlides: {{ section.blocks.size }},
        autoplay: {{ section.settings.enable_autoplay | default: true }},
        autoplaySpeed: {{ section.settings.autoplay_speed | default: 5 | times: 1000 }},
        init() {
          if (this.autoplay && this.totalSlides > 1) {
            this.startAutoplay();
          }
        },
        startAutoplay() {
          this.interval = setInterval(() => {
            this.nextSlide();
          }, this.autoplaySpeed);
        },
        pauseAutoplay() {
          clearInterval(this.interval);
        },
        nextSlide() {
          this.activeSlide = (this.activeSlide + 1) % this.totalSlides;
        },
        prevSlide() {
          this.activeSlide = (this.activeSlide - 1 + this.totalSlides) % this.totalSlides;
        }
      }"
      @mouseover="pauseAutoplay()"
      @mouseleave="if (autoplay) startAutoplay()"
    >
      <div class="testimonial-items-container">
        {%- for block in section.blocks -%}
          <div 
            class="testimonial-item testimonial-item--{{ forloop.index }}" 
            data-slide-index="{{ forloop.index0 }}"
            x-show="activeSlide === {{ forloop.index0 }}"
            x-transition:enter="transition ease-out duration-400"
            x-transition:enter-start="opacity-0 transform translate-y-4"
            x-transition:enter-end="opacity-100 transform translate-y-0"
            x-transition:leave="transition ease-in duration-250"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            {{ block.shopify_attributes }}
          >
            <div class="testimonial-quote">
              "{{ block.settings.testimonial_text | truncate: char_limit }}"
                </div>
            <div class="testimonial-author">
              -{{ block.settings.author_name }}
            </div>
          </div>
        {%- endfor -%}
      </div>
      
      <div class="testimonial-dots">
        {%- for block in section.blocks -%}
          <button 
            class="testimonial-dot" 
            data-slide-index="{{ forloop.index0 }}"
            aria-label="Slide {{ forloop.index }}"
            @click="activeSlide = {{ forloop.index0 }}; pauseAutoplay();"
            :class="{ 'active': activeSlide === {{ forloop.index0 }} }"
          ></button>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Testimonials Settings"
    },
    {
      "type": "range",
      "id": "section_height",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section height",
      "default": 150
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Autoplay speed",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size preset",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "info": "This is a preset. You can set custom font sizes below."
    },
    {
      "type": "range",
      "id": "character_limit",
      "min": 50,
      "max": 200,
      "step": 10,
      "label": "Character limit",
      "default": 120,
      "info": "Limit the number of characters to ensure testimonials fit in the space"
    },
    {
      "type": "header",
      "content": "Text Alignment"
    },
    {
      "type": "select",
      "id": "text_align_desktop",
      "label": "Desktop text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Mobile testimonial text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "author_align_mobile",
      "label": "Mobile author name alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Font Settings"
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "Font family",
      "options": [
        {
          "value": "'Poppins', sans-serif",
          "label": "Poppins"
        },
        {
          "value": "'Roboto', sans-serif",
          "label": "Roboto"
        },
        {
          "value": "'Open Sans', sans-serif",
          "label": "Open Sans"
        },
        {
          "value": "'Lato', sans-serif",
          "label": "Lato"
        },
        {
          "value": "'Montserrat', sans-serif",
          "label": "Montserrat"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display"
        },
        {
          "value": "'Raleway', sans-serif",
          "label": "Raleway"
        },
        {
          "value": "system-ui, sans-serif",
          "label": "System UI"
        }
      ],
      "default": "'Poppins', sans-serif"
    },
    {
      "type": "header",
      "content": "Desktop Font Sizes"
    },
    {
      "type": "range",
      "id": "quote_font_size_desktop",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Testimonial text font size",
      "default": 15
    },
    {
      "type": "range",
      "id": "author_font_size_desktop",
      "min": 8,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Author name font size",
      "default": 13
    },
    {
      "type": "header",
      "content": "Mobile Font Sizes"
    },
    {
      "type": "range",
      "id": "quote_font_size_mobile",
      "min": 8,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Testimonial text font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "author_font_size_mobile",
      "min": 6,
      "max": 18,
      "step": 1,
      "unit": "px",
      "label": "Author name font size",
      "default": 12
    },
    {
      "type": "header",
      "content": "Author Styling"
    },
    {
      "type": "checkbox",
      "id": "author_bold",
      "label": "Bold author name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "author_underline",
      "label": "Underline author name",
      "default": true
    },
    {
      "type": "range",
      "id": "author_margin_top",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Author name top margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "author_margin_bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Author name bottom margin",
      "default": 4
    },
    {
      "type": "header",
      "content": "Navigation Dots"
    },
    {
      "type": "range",
      "id": "dot_size",
      "min": 4,
      "max": 12,
      "step": 1,
      "unit": "px",
      "label": "Navigation dot size",
      "default": 6
    },
    {
      "type": "range",
      "id": "active_dot_size",
      "min": 5,
      "max": 16,
      "step": 1,
      "unit": "px",
      "label": "Active navigation dot size",
      "default": 7
    },
    {
      "type": "range",
      "id": "dot_margin",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Navigation dots top margin",
      "default": 2
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "quote_color",
      "label": "Testimonial text color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "author_color",
      "label": "Author name color",
      "default": "#555555"
    },
    {
      "type": "color",
      "id": "underline_color",
      "label": "Underline color",
      "info": "If not set, will match the author name color"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "testimonial_text",
          "label": "Testimonial Text",
          "default": "This kit is the perfect fill-in for a well designed trauma package! It could mean the difference between life or death!"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "Michael B."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "testimonial_text": "This kit is the perfect fill-in for a well designed trauma package! It could mean the difference between life or death!",
            "author_name": "Michael B."
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "testimonial_text": "Best medical supplies I've found. Great quality and fast shipping!",
            "author_name": "Sarah T."
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "testimonial_text": "As a first responder, I trust these products completely. Highly recommended!",
            "author_name": "James L."
          }
        }
      ]
    }
  ]
}
{% endschema %}

